.work{
    /* position: absolute; */
    margin-top: -2%;
    margin: 20px;
    
}

.work-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work-container .work img{
    height: 500px;
    width: 500px;
}

.work p{
    font-size: medium;
    margin-left: 2px;
}

.work span{
    font-size: medium;
    color: white;
}



.flip-box {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
   .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }

